<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Test</title>
    <script th:src="@{/js/jquery-2.1.4/jquery.min.js}"></script>
</head>
<body>


    <div id="fff">
    </div>
    <script>
        //其他附件
        var otherFileHtml = '<table id="otherFile"  width="100%" class="" style="float:left;"><tbody>';

        var dinggaoFlag = 0;




        for(var i=0;i<5;i++){
            var obj = "6666"+i;
                var fileId = "www"+i;
                otherFileHtml += '<tr><td style="width: 80%;height: 30px;border-top: 1px solid #ddd"><a href="'+obj+'" id="fileName" target="_blank">'+obj+'</a></td><td style="width: 20%;;height: 30px;border-top: 1px solid #ddd"><span id="fileId" style="display: none">1111</span><span id="de" onclick="del(\''+fileId+'\')" style="cursor:pointer;">X</span></td></tr>'



        }

        otherFileHtml +='</tbody></table>';
        $("#fff").html(otherFileHtml);
        function del(fileId){
            alert(fileId);
        }
        $("#de111").on("click",function (){
            var fileId = $("#fileId").text();
            var fileName = $("#fileName").text();
            alert(fileId);
            alert(fileName);
        });
    </script>
</body>
</html>