<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Test</title>
    <script th:src="@{/js/jquery-2.1.4/jquery.min.js}"></script>
</head>
<body>
    <table>
        <tr>
            <th>no</th>
            <th>name</th>
            <th>address</th>
            <th>age</th>
        </tr>
        <tr th:each="list,stat : ${userInfo}">
            <td th:text="${stat.count}"></td>
            <td th:text="${list.name}"></td>
            <td th:text="${list.address}"></td>
            <td th:text="${list.age}"></td>
        </tr>
    </table>
</body>
</html>