<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE spring.boot.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-spring.boot.mapper.dtd">
<spring.boot.mapper namespace="spring.boot.spring.boot.mapper.UserMapper">
    <select id="getList" resultType="spring.boot.entity.User">
        select id,username,age from user
    </select>
    <select id="getList2" resultType="spring.boot.entity.User">
        select id,username,age from user
    </select>

</spring.boot.mapper>