<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
  <h3 style="background-color: aquamarine">首页</h3>
  <a th:href="@{/admin/api}">管理员</a>
  <a th:href="@{/user/api}">普通用户</a>
  <a th:href="@{/app/api}">游客</a>
  <a th:href="@{/test/a}">/test/a</a>
  <a th:href="@{/test/api/a/b}">/test/a/b</a>
  <a th:href="@{/test/a/b/c/d}">/test/a/b/c/d</a>

  <form th:action="@{/logout}" method="post">
    <input type="submit" value="退出">
  </form>
</body>
</html>
