<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration status="OFF" packages="com.xyebank.hzx.core.log4j2"> -->
<configuration status="OFF">
    <properties>
        <!-- 当前日志文件路径 -->
        <property name="fileSavePath" value="/home/logs/sweep/sweep(${hostName}).log"/>
        <property name="errorFileSavePath" value="/home/logs/sweep/sweep(${hostName})-error.log"/>
        <!-- 历史日志文件路径 -->
        <property name="fileBackSavePath" value="/home/backlogs/sweep"/>
        <!-- 日志级别 -->
        <property name="logLevel" value="debug"/>
        <property name="layoutPattern"
                  value="%d{yyyy-MM-dd HH:mm:ss.SSS}---[%-5level]---[%-32X{traceId}]---[%-16.16thread]---[%c{64}] : %msg%n"/>
    </properties>
    <!-- 日志主配置 -->
    <appenders>
        <!-- 控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- <SensitiveDataPatternLayout pattern="${layoutPattern}" /> -->
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <!-- 文件 -->
        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${fileSavePath}"
                                 filePattern="${fileBackSavePath}-%d{yyyy-MM-dd}.%i.log.zip">
            <!-- <SensitiveDataPatternLayout pattern="${layoutPattern}" /> -->
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <!-- 错误日志 -->
        <RollingRandomAccessFile name="ERROR" fileName="${errorFileSavePath}"
                                 filePattern="${fileBackSavePath}-error-%d{yyyy-MM-dd}.%i.log.zip">
            <!-- <SensitiveDataPatternLayout pattern="${layoutPattern}" /> -->
            <PatternLayout pattern="${layoutPattern}"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </appenders>

    <!--过滤掉部分组件的其余错误信息-->
    <loggers>
        <!--        <AsyncLogger name="org.apache.zookeeper" level="error" additivity="false">-->
        <!--            <appender-ref ref="RollingRandomAccessFile" />-->
        <!--            <appender-ref ref="ERROR" />-->
        <!--            <appender-ref ref="Console" />-->
        <!--        </AsyncLogger>-->
        <!--        <AsyncLogger name="com.alibaba.dubbo" level="error" additivity="false">-->
        <!--            <appender-ref ref="RollingRandomAccessFile" />-->
        <!--            <appender-ref ref="ERROR" />-->
        <!--            <appender-ref ref="Console" />-->
        <!--        </AsyncLogger>-->
        <!--        <AsyncLogger name="org.I0Itec.zkclient" level="error" additivity="false">-->
        <!--            <appender-ref ref="RollingRandomAccessFile" />-->
        <!--            <appender-ref ref="ERROR" />-->
        <!--            <appender-ref ref="Console" />-->
        <!--        </AsyncLogger>-->
        <!--        <AsyncLogger name="org.mongodb.driver.cluster" level="error" additivity="false">-->
        <!--            <appender-ref ref="RollingRandomAccessFile" />-->
        <!--            <appender-ref ref="ERROR" />-->
        <!--            <appender-ref ref="Console" />-->
        <!--        </AsyncLogger>-->
        <!--        <AsyncRoot level="${logLevel}">-->
        <!--            <appender-ref ref="RollingRandomAccessFile" />-->
        <!--            <appender-ref ref="ERROR" />-->
        <!--            <appender-ref ref="Console" />-->
        <!--        </AsyncRoot>-->

        <Root level="${logLevel}">
            <appender-ref ref="RollingRandomAccessFile"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="Console"/>
        </Root>
    </loggers>
</configuration>


